.card{
    width: 18rem;
    height: 26rem;

    background-color: var(--shape-base);
    border: 0.125rem solid var(--shape-stroke);
    border-radius: 1.5rem;

    padding-inline: 2rem;

    .btn{
        padding: 0.75rem 3.2813rem;
        border-radius: 0.5rem;
        background-color: var(--blue-dark);
        color: var(--text-title);
        font: var(--text-button);

        margin-block: 1.5rem 1.75rem;
    }
}