.discovery{
    margin-top: 235px;

    padding-bottom: 313px;

    & .frame{
        align-items: center;
    }

    & h2{
        padding-inline: 16px;
    }

    & img[src*="star"]{

        object-fit: cover;
    }

    & span{
        width: 516px;
        color:var(--text-body);
        margin: 0 auto;

        padding-inline: 45px;
        margin-top: 5px;
    }

    & .book{
        position: relative;
        height: 920px;
        align-items: center;
        & img[src*=pin]{
            position:absolute;
            margin-top: 569px;
            margin-right: 500px;
            width: 222px;
            height: 254px;
            object-fit: cover;

            transform: rotate(-8deg);
            opacity: 0;

        }

        & img[src*=book]{
            position: relative;
            width: 467px;
            height: 617px;
            object-fit: cover;

            z-index: 3;

        }

        & img[src*=bookmark-yellow]{
            position: absolute;
            width: 172px;
            height: 536px;
            object-fit: cover;

            margin-left: 535px;
            margin-bottom: 200px;
            opacity: 0;

            transform: rotate(0);
            
            z-index: 2;

        }

        & img[src*=bookmark-purple]{
            position: absolute;
            width: 172px;
            height: 536px;
            object-fit: cover;

            margin-left: 760px;

            opacity: 0;

            transform: rotate(0);
            
            z-index: 1;

        }

        & .hardcover{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: -370px;
                margin-left: -400px;
                z-index: 1;

                transform: translate(270px,100px);
                
            }

            & img{
                position: absolute;
                margin-top: -330px;
                margin-left: -150px;

                transform: translate(200px,60px);
                z-index: 1;
                
            }
        }

        & .brooch{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: 20px;
                margin-left: -400px;
            }

            & img{
                position: absolute;
                margin-top: 70px;
                margin-left: -180px;
            }

        }

        & .brand-page{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: 420px;
                margin-left: -200px;

            }

            & img{
                position: absolute;
                margin-top: 250px;
                margin-left: 30px;

            }
        }
    }
}

.discovery:hover{
    & img[src*=bookmark-yellow]{
        opacity: 1;
        transform: translate(-100%, 20%);
    
        animation: slideIn 1200ms ease both, rotate 1s both;
    
    
        z-index: 2;
    }

    & img[src*=bookmark-purple]{
        opacity: 1;
        transform: translate(-100%, 10%);
    
        animation: slideIn 1200ms ease both, rotate-purple 1s both;

        z-index: 1;
    }

    & img[src*=pin]{
        opacity: 1;
        transform: translate(160px, -80px);
    
        animation: slideIn-pin 1700ms ease both, rotate-pin 800ms both;
    
    }

    .hardcover{
        opacity: 1;
        & span{
            animation: handcover-name 900ms ease both;
        }
    
        & img{
            animation: handcover-arrow 1s ease both;
        }
    }

    .brooch{
        opacity: 1;
    
        & span{
            animation: brooch-name 900ms ease both;
        }

        & img{
            animation: brooch-arrow 1s ease both;
        }
    }

    .brand-page{
        opacity: 1;
    
        & span{
            animation: brand-name 900ms ease both;
        }
        & img{
            animation: brand-arrow 1s ease both;
        }
    }
}


@keyframes slideIn{
    50%{
        transform: translate(-20px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes slideIn-pin{
    50%{
        transform: translate(10px);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes rotate-pin{
    to{
        transform: rotate(-8deg);
    }
}

@keyframes rotate{
    to{
        transform: rotate(12deg);
    }
}

@keyframes rotate-purple{
    to{
        transform: rotate(22deg);
    }
}

@keyframes handcover-name {
    0% {
        transform: translate(270px, 100px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes handcover-arrow{
    0%{
        transform: translate(200px,60px);
    }

    100%{
        transform: translate(0,0);
    }
}

@keyframes brooch-name{
    0%{
        transform: translate(270px,-60px);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes brooch-arrow{
    0%{
        transform: translate(240px,-150px);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes brand-name{
    0%{
        transform: translate(-200px,-290px);
        /* transform: translate(0,0); */
    }
    100%{
        transform: translate(0,0);
        /* transform: translate(-200px,-290px); */
    }
}

@keyframes brand-arrow{
    0%{
        transform: translate(-200px,-290px);
        /* transform: translate(0,0); */
    }
    100%{
        transform: translate(0,0);
        /* transform: translate(-200px,-290px); */
    }
}
