.discovery{
    margin-top: 14.6875rem;

    padding-bottom: 19.5625rem;

    & .frame{
        align-items: center;
    }

    & h2{
        padding-inline: 1rem;
    }

    & img[src*="star"]{

        object-fit: cover;
    }

    & span{
        width: 32.25rem;
        color:var(--text-body);
        margin: 0 auto;

        padding-inline: 2.8125rem;
        margin-top: 0.3125rem;
    }

    & .book{
        position: relative;
        height: 57.5rem;
        align-items: center;
        & img[src*=pin]{
            position:absolute;
            margin-top: 35.5625rem;
            margin-right: 31.25rem;
            width: 13.875rem;
            height: 15.875rem;
            object-fit: cover;

            transform: rotate(-8deg);
            opacity: 0;

        }

        & img[src*=book]{
            position: relative;
            width: 29.1875rem;
            height: 38.5625rem;
            object-fit: cover;

            z-index: 3;

        }

        & img[src*=bookmark-yellow]{
            position: absolute;
            width: 10.75rem;
            height: 33.5rem;
            object-fit: cover;

            margin-left: 33.4375rem;
            margin-bottom: 12.5rem;
            opacity: 0;

            transform: rotate(0);
            
            z-index: 2;

        }

        & img[src*=bookmark-purple]{
            position: absolute;
            width: 10.75rem;
            height: 33.5rem;
            object-fit: cover;

            margin-left: 47.5rem;

            opacity: 0;

            transform: rotate(0);
            
            z-index: 1;

        }

        & .hardcover{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: -23.125rem;
                margin-left: -25rem;
                z-index: 1;

                transform: translate(16.875rem,6.25rem);
                
            }

            & img{
                position: absolute;
                margin-top: -20.625rem;
                margin-left: -9.375rem;

                transform: translate(12.5rem,3.75rem);
                z-index: 1;
                
            }
        }

        & .brooch{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: 1.25rem;
                margin-left: -25rem;
            }

            & img{
                position: absolute;
                margin-top: 4.375rem;
                margin-left: -11.25rem;
            }

        }

        & .brand-page{
            opacity: 0;
            & span{
                position: absolute;
                margin-top: 26.25rem;
                margin-left: -12.5rem;

            }

            & img{
                position: absolute;
                margin-top: 15.625rem;
                margin-left: 1.875rem;

            }
        }
    }
}

.discovery:hover{
    & img[src*=bookmark-yellow]{
        opacity: 1;
        transform: translate(-100%, 20%);
    
        animation: slideIn 1200ms ease both, rotate 1s both;
    
    
        z-index: 2;
    }

    & img[src*=bookmark-purple]{
        opacity: 1;
        transform: translate(-100%, 10%);
    
        animation: slideIn 1200ms ease both, rotate-purple 1s both;

        z-index: 1;
    }

    & img[src*=pin]{
        opacity: 1;
        transform: translate(10rem, -5rem);
    
        animation: slideIn-pin 1700ms ease both, rotate-pin 800ms both;
    
    }

    .hardcover{
        opacity: 1;
        & span{
            animation: handcover-name 900ms ease both;
        }
    
        & img{
            animation: handcover-arrow 1s ease both;
        }
    }

    .brooch{
        opacity: 1;
    
        & span{
            animation: brooch-name 900ms ease both;
        }

        & img{
            animation: brooch-arrow 1s ease both;
        }
    }

    .brand-page{
        opacity: 1;
    
        & span{
            animation: brand-name 900ms ease both;
        }
        & img{
            animation: brand-arrow 1s ease both;
        }
    }
}


@keyframes slideIn{
    50%{
        transform: translate(-1.25rem);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes slideIn-pin{
    50%{
        transform: translate(0.625rem);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes rotate-pin{
    to{
        transform: rotate(-8deg);
    }
}

@keyframes rotate{
    to{
        transform: rotate(12deg);
    }
}

@keyframes rotate-purple{
    to{
        transform: rotate(22deg);
    }
}

@keyframes handcover-name {
    0% {
        transform: translate(16.875rem, 6.25rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes handcover-arrow{
    0%{
        transform: translate(12.5rem,3.75rem);
    }

    100%{
        transform: translate(0,0);
    }
}

@keyframes brooch-name{
    0%{
        transform: translate(16.875rem,-3.75rem);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes brooch-arrow{
    0%{
        transform: translate(15rem,-9.375rem);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes brand-name{
    0%{
        transform: translate(-12.5rem,-18.125rem);
        /* transform: translate(0,0); */
    }
    100%{
        transform: translate(0,0);
        /* transform: translate(-12.5rem,-18.125rem); */
    }
}

@keyframes brand-arrow{
    0%{
        transform: translate(-12.5rem,-18.125rem);
        /* transform: translate(0,0); */
    }
    100%{
        transform: translate(0,0);
        /* transform: translate(-12.5rem,-18.125rem); */
    }
}
