footer{
    height: 25.9375rem;
    & .footer-background{
        position: absolute;
        text-align: center;
        height: 25.9375rem;
        width: 100%;
        z-index: -1;
    }

    & .brand{
        margin-top: 10.625rem;
    }

    & .line{
        width: 16.5rem;
        height: 0;
        border: 0.0625rem solid var(--shape-stroke);
    }

    & img[src*="logo-horizontal"]{
        width: 16.5rem;
        height: 4.1606rem;
    }

    & .bottom{
        align-items: center;
        justify-content: space-between;
    }

    & nav{
        margin-top: 10.625rem;
        margin-left: 34rem;
    }

    & ul{
        text-align: start;
        margin-left: 3.5rem;
        & li:first-child{
            font: var(--text-xs);
            color: var(--text-body);
            margin-bottom: 1.25rem;
        }
        & a{
            font: var(--text-link);
            color: var(--blue-light);
        }
        & li{
            margin-bottom: 0.75rem;
        }

        & a:hover{
            color: var(--text-body);
        }
    }
}