footer{
    height: 25.93rem;
    & .footer-background{
        position: absolute;
        text-align: center;
        height: 25.93rem;
        width: 100%;
        z-index: -1;
    }

    & .brand{
        margin-top: 170px;
    }

    & .line{
        width: 264px;
        height: 0;
        border: 1px solid var(--shape-stroke);
    }

    & img[src*="logo-horizontal"]{
        width: 264px;
        height: 66.57px;
    }

    & .bottom{
        align-items: center;
        justify-content: space-between;
    }

    & nav{
        margin-top: 170px;
        margin-left: 544px;
    }

    & ul{
        text-align: start;
        margin-left: 56px;
        & li:first-child{
            font: var(--text-xs);
            color: var(--text-body);
            margin-bottom: 20px;
        }
        & a{
            font: var(--text-link);
            color: var(--blue-light);
        }
        & li{
            margin-bottom: 12px;
        }

        & a:hover{
            color: var(--text-body);
        }
    }
}