footer{
    border: 1px solid red;

    img[src*="trace"]{
        border: 1px solid wheat;
        width: 1440px;
        height: 415px;

        position: absolute;
    }
    img[src*="logo-horizontal"]{

        width: 264px;
        height: 66.57px;
        position: relative;
    }

    & .title{
        position: relative;
        font: var(--text-xs);
        color: var(--text-body);
    }
    & a{
        position: relative;
        font: var(--text-link);
        color: var(--blue-light);
    }

    .container{
        margin-inline: auto;
        gap: 3rem;
        padding-inline: 3rem;
    }
}