.img-header{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 59.25rem;
    top: 0;
}

header{
    display: flex;
    max-width: 70rem;
    width: 100%;

    position: relative;
    margin-inline: 10rem;
    padding-top: 3.5rem;
    align-items: center;
    justify-content: space-between;
    
    & a{
        & img{
            width: 14.375;
            height: 3.625rem;
        }

        & span{
            font: var(--body-sm);
            color: var(--text-title);
            background-color: var(--pink-dark);
            border-radius: .5rem;
            
            padding: 0.75rem 1.25rem;
        }
    }
}

@media (width < 80em){
    header{
        padding: 1.25rem 1.25rem;
        margin: 0;
    }

    .mobile-only{
        display: block;
        width: 4.03rem;
    }

    header img:not(.mobile-only) {
        display: none;
    }

    .img-header{
        border: 1px solid green;
        align-items: center;
        max-width:max-content;
    }
}