
.img-background{
    position: absolute;
    margin-left: -170px;
}

header{
}

.header{
    border: 5px solid green;
    position: relative;

    width: 1120px;
    margin-top: 56px;

    justify-content: space-between;
    align-items: center;

    img{
        width: 230px;
        height: 58px;
    }

    button{
        height: 40px;
        border-radius: 8px;

        background-color: #7d298a;
        color: #f8fbfb;

        padding: 12px 20px;
    }
}
