.pricing{
    height: 1234px;
    & .img-background{
        position: absolute;
    }

    & .header-signature{
        position: inherit;
        padding-bottom: 56px;
        margin-bottom: 56px;
    }

    .cards {
        margin-top: 82px;
    }

    h3{
        text-align: start;
        font: var(--text-xs);
        color: var(--blue-light);
        margin-bottom: 24px;
    }

    & .price{
        margin-block: 32px 70px;

    }

    signature{
        display: block;
        text-align: start;
        font: var(--text-md);
        color: var(--text-title);

        padding-bottom: 8px;

        small{
            font: var(--text-xs);
            color: var(--text-title);
        }
    }

    pricing{
        display: block;
        text-align: start;
        font: var(--body-sm);
        color: var(--text-label);
    }

    li{
        position: relative;
        text-align: start;
        padding-left: 24px;
        font: var(--body-pricing);
        color: var(--text-body);

        padding-left: 24px;
        margin-bottom: 12px;
    }

    li::before{
        content: '';
        position: absolute;
        left: 0; /* Posiciona o ícone à esquerda do texto */
        top: 50%;
        transform: translateY(-50%); /* Centraliza verticalmente */
        width: 16px; /* Ajuste o tamanho conforme necessário */
        height: 16px;
        -webkit-mask: url('/assets/images/star-pricing.svg') no-repeat center;
        mask: url('/assets/images/star-pricing.svg') no-repeat center;
        background-color: var(--blue-base); /* Cor desejada para o ícone */
    }

    & .card{
        transition: transform 0.7s ease;
    }

    img{
        transition: transform 0.7s ease;
    }

    & .monthly{
        position: relative;
        z-index: 0;

        margin-top: 65px;

        transform: rotate(-8deg);
        & .star{
            color: var(--pink-base);
            object-fit: cover;
            transform: rotate(3deg);

            transition: rotate 0.7s ease;

            & img:nth-child(2){
                position: absolute;
                width: 26px;
                height: 26px;
                margin-right: 310px;
                margin-top: -27px;
            }

            & img:nth-child(1){
                position: absolute;
                width: 13.6px;
                height: 13.6px;
                margin-top: 12px;
                margin-right: 335px;
            }
        }

        & .btn{
            position: relative;
            margin-top: 24px;

            overflow: hidden; /* Esconde o pseudo-elemento que sai dos limites do botão */

            z-index: 1; /* Mantém o conteúdo do botão acima do pseudo-elemento */
            transition: color 0.7s ease; /* Transição de cor do texto se necessário */
        }

        & .price{
            margin-bottom: 80px;
        }
    }

    & .semi-annual{
        position: relative;
        z-index: 1;

        & .bunny{
            position: absolute;
            object-fit: cover;
            margin-top: -50px;
            margin-left: 32px;
        }

        tag{
            position: absolute;
            font: var(--text-tag);
            color: var(--text-body);
            background-color: var(--shape-stroke);

            border-radius: 999px;
            padding: 9px 20px;

            margin-top: -50px;
        }

        & li::before {
            content: '';
            position: absolute;
            left: 0; /* Posiciona o ícone à esquerda do texto */
            top: 50%;
            transform: translateY(-50%); /* Centraliza verticalmente */
            width: 16px; /* Ajuste o tamanho conforme necessário */
            height: 16px;
            -webkit-mask: url('/assets/images/star-pricing.svg') no-repeat center;
            mask: url('/assets/images/star-pricing.svg') no-repeat center;
            background-color: var(--pink-base); /* Cor desejada para o ícone */
        }

        & .btn{
            position: relative;
            margin: 0;

            overflow: hidden; /* Esconde o pseudo-elemento que sai dos limites do botão */

            z-index: 1; /* Mantém o conteúdo do botão acima do pseudo-elemento */
            transition: color 0.7s ease; /* Transição de cor do texto se necessário */
        }
    }

    & .annual{
        position: relative;
        z-index: 0;

        transform: rotate(8deg);
        margin-top: 65px;

        & .star{
            color: var(--pink-base);
            object-fit: cover;
            transform: rotate(3deg);           

            & img:nth-child(2){
                position: absolute;
                width: 23.22px;
                height: 23.22px;
                margin-right: -330px;
                margin-top: -5px;
            }

            & img:nth-child(1){
                position: absolute;
                width: 11.25px;
                height: 11.25px;
                margin-top: 20px;
                margin-right: -265px;
            }
        }

        & .btn{
            position: relative;
            margin:0;

            overflow: hidden; /* Esconde o pseudo-elemento que sai dos limites do botão */

            z-index: 1; /* Mantém o conteúdo do botão acima do pseudo-elemento */
            transition: color 0.5s ease; /* Transição de cor do texto se necessário */
        }
    }

    & .btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: var(--blue-base);
        border-radius: 50%;
        transition: width 0.8s ease, height 0.4s ease, opacity 0.6s ease;
        transform: translate(-50%, -50%);
        z-index: -1; /* Garante que o pseudo-elemento esteja abaixo de todo o conteúdo */
        opacity: 0.6;
    }
}

& .monthly:hover{
    z-index: 2;
    & .card{
        background-color: var(--shape-hover);
        transform: translateY(-5%);
          
    }

    & img[src*="star"]{
        transform: rotate(30deg);
        transition: transform 0.7s ease;
    }

    & img:nth-child(1){
        transform: rotate(-30deg);
        transition: transform 0.7s ease;
    }

    .btn::before {
        width: 200%;
        height: 400%;
        opacity: 1;
    }
}

& .semi-annual:hover{
    & .card{
        background-color: var(--shape-hover);
        transform: translateY(-5%);   
    }

    & img[src*="bunny"]{
        transform: translateY(-43%);
        transition: transform 0.7s ease;
    }

    .btn::before {
        width: 200%;
        height: 400%;
        opacity: 1;
    }
}

& .annual:hover{
    z-index: 2;
    & .card{
        background-color: var(--shape-hover);
        transform: translateY(-5%);  
    }

    & img[src*="star"]{
        transform: rotate(30deg);
        transition: transform 0.7s ease;
    }

    & img:nth-child(1){
        transform: rotate(-30deg);
        transition: transform 0.7s ease;
    }

    .btn::before {
        width: 200%;
        height: 400%;
        opacity: 1;
    }
}