& .mistery{
    /* border: 1px solid green; */
    width: 1200px;
    height: 400px;
    margin-inline: 120px;
    padding-top: 96px;
    margin-top: 340px;
    position: relative;



    & .subtitle{
        display: grid;
        grid-template-areas: 
        "A"
        "B";
        align-items: center;
        justify-items: center;

        & img[src*="opened"]{
            grid-area: A;
            width: 5.5rem;
            height: 5.5rem;

            transform: rotate(20deg);

            opacity: 0;
            transition: opacity 0.5s 0.2s ease, transform 0.5s ease;
        }

        & img[src*="opened"]:hover{
            transform: rotate(30deg) scale(1.2);
        }

        & p{
        grid-area: B;
        font: var(--text-subtitle);
        text-align: center;
        margin-inline: 32px;
        opacity: 1;
        }

    }

    & .img-mistery{
        display: flex;
        justify-content: space-between;

        & img[src*="ouija"]{
            width: 5rem;
            height: 5rem;
            margin-left: 33.96px;
            margin-top: 10px;

            transform: rotate(100deg);

            opacity: 0;
            transition: opacity 0.5s 0.5s ease, transform 0.5s ease;
        }

        & img[src*="ouija"]:hover{
            transform: rotate(110deg) scale(1.2);
        }

        & img[src*="crystal"]{
            width: 4.5rem;
            width: 4.5rem;

            margin-top: 10px;

            transform: rotate(-20deg);

            opacity: 0;
            transition: opacity 0.5s 0.8s ease, transform 0.5s ease;
            
        }
        
        & img[src*="crystal"]:hover{
            transform: rotate(-10deg) scale(1.2);
        }
    }
}

/* Ao passar o mouse no bloco, apenas as imagens ficam visíveis */
.mistery:hover .subtitle img[src*="opened"],
.mistery:hover .img-mistery img[src*="ouija"],
.mistery:hover .img-mistery img[src*="crystal"] {
    opacity: 1;
}