.title{
    position: absolute;
    margin-top: 278px;

    h1{
        width: 656px;
        text-align: center;
        margin-inline: 392px;
    }

    p{
        text-align: center;
        width: 568px;
        margin-inline: 436px;

        margin-top: 32px;
    }
}